/* Chat Messages */
.card-body {
    color: var(--card-body-text); 
    background-color: var(--card-body-background);
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	max-height: 512px;
    overflow-y: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: var(--accordion-background);
	color: var(--accordion-text);
	cursor: pointer;
	padding: 4px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}  

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion-button {
	width: 100%;
	text-align: left; /* Optional: Ensures the text inside the button aligns to the left */
	background-color: var(--card-body-button);
	border: none;
}

#addInterfaceButton {
    background-color: var(--modal-button);
}

/* Spinner overlay */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Spinner */
.spinner {
    border: 8px solid #f3f3f3; /* Light gray background */
    border-top: 8px solid #00d1b2; /* Light green for the spinning part */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
