/* Chat Input Form */
.card-footer{
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;	
	padding-top: 5px;
    display: flex;
    justify-content: flex-end;
}

#saveButton {
    background-color: var(--modal-button);
    border: none;
}
#cancelButton {
    margin-right: 10px;
}
