/* Default styles for the chat application */
:root {
	--background-color: rgb(44, 47, 59);
    --gradient-start: rgb(38, 51, 61);
    --gradient-middle: rgb(50, 55, 65); 
    --gradient-end: rgb(33, 33, 78); 
    --card-opacy: rgba(0,0,0,0.4); 
	--chat-type-project: #ff9267;
	--card-body-background: #ff9267;
	--card-body-text: black;
	--table-lines: black;
	--user-message: #afe1ff;
	--accordion-background: #FF603a;
	--accordion-text: #075481;
	--accordion-code-background: #FFFBC7;
	--accordion-code-text: #075481;
	--modal-background: #ff9267;
	--modal-border: #075481;
	--modal-text: #075481;
	--modal-button: #d12b01;
}

/* Custom styles for Athonet */
.athonet {
	--background-color: rgb(44, 47, 59);
    --gradient-start: rgb(224, 224, 224); 
    --gradient-middle: rgb(183, 183, 183); 
    --gradient-end: rgb(224, 224, 224);
    --card-opacy: rgba(0,0,0,0.7);  
	--chat-type-project: white;
	--card-body-background: #ad2a4d;
	--card-body-text: white;
	--table-lines: white;
	--user-message: #ffffff;
	--accordion-background: #ad2a4de2;
	--accordion-text: #FFFBC7;
	--accordion-code-background: #FFFBC7;
	--accordion-code-text: #075481;
	--modal-background: #ad2a4d;
	--modal-border: white;
	--modal-text: white;
	--modal-button: #75001f;
}

/* Custom styles for HPE */
.hpe {
	--background-color: rgb(44, 47, 59);
	--gradient-start: #FFEB59;
	--gradient-middle: #FC6161;
	--gradient-end: #F740FF;
    --card-opacy: rgba(0,0,0,0.85); 
	--chat-type-project: #01A982;
	--card-body-background: #008567;
	--card-body-text: white;
	--table-lines: white;
	--user-message: rgb(159, 169, 175);
	--accordion-background: #00567A;
	--accordion-text: white;
	--accordion-code-background: #F7F7F7;
	--accordion-code-text: #00567A;
	--modal-background: #008567;
	--modal-border: white;
	--modal-text: white;
	--modal-button: #00567A;
}


/* Global layout */ 
body, html {
    height: 100%;
    margin: 0;
    background: var(--background-color);
	background: -webkit-linear-gradient(to top right, var(--gradient-start), var(--gradient-middle), var(--gradient-end));
	background: linear-gradient(to top right, var(--gradient-start), var(--gradient-middle), var(--gradient-end));	
}

.panel {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 700px;
    border-radius: 15px !important;
    background-color: var(--card-opacy) !important;
}
