<form id="messageArea" class="input-group">
    <div class="input-group-prepend">
        <button type="button" id="settings" class="input-group-text setting_btn" data-toggle="modal" data-target="#settingsModal">
            <i class="fas fa-cog"></i>
        </button>
    </div>
    <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/>
    <div class="input-group-append">
        <button type="submit" id="send" class="input-group-text send_btn">
            <i class="fas fa-location-arrow"></i>
        </button>
    </div>
</form>