<div class="card-header msg_head">
    <div class="d-flex bd-highlight">
        <div class="img_cont">
            <img src="{{ logo_image_src }}" class="rounded-circle logo_img">
            <span class="online_icon"></span>
        </div>
        <div class="user_info">
            <span>{{ company_announcement }}</span>
            <p>{{ company_motto }}</p>
        </div>
    </div>
    <div class="dropdown-menu-container">
        <select id="chatTypeDropdown" class="form-control">
            <!-- Game Chats will be added here -->
        </select>
    </div>
</div>